/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.spacer {
  flex: 1;
}

.home {
  height: 100%;
}
.home .nav {
  height: 108px;
  display: flex;
  align-items: center;
  background-color: #aa0601;
}
.home .nav a {
  color: white;
  text-decoration: none;
  font: 20px/30px PingFang TC;
  margin: 0 32px;
}
.home .main {
  height: 840px;
  background-image: url("../assets/68.png");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #650300;
}
.home .main .subtitle {
  position: absolute;
  top: 350px;
  right: 20%;
  font: 36px/54px PingFang TC;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home .main .subtitle {
    top: 373px;
    right: 48px;
    font: 20px/30px PingFang TC;
  }
}
.home .main .title {
  position: absolute;
  top: 400px;
  right: 20%;
  font: 64px/96px PingFang TC;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home .main .title {
    font: 48px/72px PingFang TC;
    top: 401px;
    right: 48px;
  }
}
.home > .description {
  height: 544px;
  color: #650300;
  background: #aa06010d;
  overflow: auto;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .description {
    height: 668px;
  }
}
.home > .description .title {
  padding-top: 64px;
  font: 48px/72px PingFang TC;
  text-align: center;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .description .title {
    padding-top: 40px;
    font: 32px/48px PingFang TC;
  }
}
.home > .description .fourBox {
  margin-top: 44px;
  display: flex;
  justify-content: center;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .description .fourBox {
    flex-wrap: wrap;
  }
}
.home > .description .fourBox .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 208px;
  margin: 0 49px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .description .fourBox .feature {
    min-width: 324px;
    max-width: 324px;
    margin: 0 62px;
    height: 256px;
  }
}
.home > .description .fourBox .feature img {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .description .fourBox .feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
  }
}
.home > .description .fourBox .feature .name {
  font: 24px/36px PingFang TC;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .description .fourBox .feature .name {
    font: 20px/30px PingFang TC;
  }
}
.home > .description .fourBox .feature .desc {
  font: 16px/24px PingFang TC;
  color: black;
}
.home > .showcase_classic {
  color: #650300;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 80px;
}
.home > .showcase_classic .title {
  padding: 64px 0 60px 0;
  font: bolder 48px/72px PingFang TC;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_classic .title {
    font: bolder 32px/48px PingFang TC;
  }
}
.home > .showcase_classic .item {
  color: #aa0601;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_classic .item {
    justify-content: start;
    padding-left: 48px;
  }
}
.home > .showcase_classic .item .word {
  font: Italic bolder 44px/72px Roboto;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_classic .item .word {
    font: Italic bolder 28px/42px Roboto;
    order: 2;
  }
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_classic .item img {
    width: 32px;
    order: 2;
    margin-right: 8px;
  }
}
.home > .showcase_classic .item .pic {
  margin: 0 24px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_classic .item .pic {
    width: 410px;
    height: 168px;
    margin: 0;
    margin-right: 65px;
    order: 1;
  }
}
.home > .showcase_corporate {
  height: 2162px;
  background: url(../assets/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png) center/cover;
  position: relative;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate {
    height: 1221px;
  }
}
.home > .showcase_corporate .title {
  color: white;
  text-align: center;
  padding: 64px 0 60px 0;
  font: bolder 48px/72px PingFang TC;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate .title {
    padding: 40px 0 32px 0;
    font: bolder 32px/48px PingFang TC;
  }
}
.home > .showcase_corporate img {
  position: absolute;
}
.home > .showcase_corporate .container {
  position: relative;
  margin: 0 auto;
  max-width: 1539px;
  max-height: 840px;
  width: 1539px;
  height: 840px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate .container {
    width: 672px;
    height: 367px;
  }
}
.home > .showcase_corporate .container .a1 {
  top: 0px;
  left: 0px;
  width: 573px;
  height: 840px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate .container .a1 {
    top: 0px;
    left: 0px;
    width: 251px;
    height: 367px;
  }
}
.home > .showcase_corporate .container .a2 {
  top: 0px;
  left: 581px;
  width: 958px;
  height: 454px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate .container .a2 {
    top: 0px;
    left: 254px;
    width: 418px;
    height: 198px;
  }
}
.home > .showcase_corporate .container .a3 {
  top: 462px;
  left: 581px;
  width: 132px;
  height: 378px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate .container .a3 {
    top: 201px;
    left: 254px;
    width: 58px;
    height: 166px;
  }
}
.home > .showcase_corporate .container .a4 {
  top: 462px;
  left: 721px;
  width: 818px;
  height: 203px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate .container .a4 {
    top: 201px;
    left: 316px;
    width: 356px;
    height: 89px;
  }
}
.home > .showcase_corporate .container .moreBox {
  position: absolute;
  width: 259px;
  height: 167px;
  top: 673px;
  left: 1197px;
  background: url(../assets/5.png);
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate .container .moreBox {
    width: 147px;
    height: 77px;
    top: 290px;
    left: 478px;
  }
}
.home > .showcase_corporate .container .moreBox .white {
  display: flex;
  align-items: center;
  margin-left: 31px;
  background: white;
  width: 315px;
  height: 105px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate .container .moreBox .white {
    width: 178px;
    height: 59px;
  }
}
.home > .showcase_corporate .container .moreBox .white .word {
  margin: 0 17px 0 32px;
  font: Bold 72px/108px Roboto;
  color: #aa0601;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate .container .moreBox .white .word {
    margin: 0 10px 0 19px;
    font: Bold 40px/30px Roboto;
  }
}
.home > .showcase_corporate .container .moreBox .white img {
  position: static;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate .container .moreBox .white img {
    width: 27px;
  }
}
.home > .showcase_corporate .second_container {
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate .second_container {
    width: 672px;
    justify-content: space-between;
    margin-top: 40px;
  }
}
.home > .showcase_corporate .second_container .box {
  width: 585px;
  height: 592px;
  font: Bold 72px/108px Roboto;
  color: #aa0601;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 15px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .showcase_corporate .second_container .box {
    width: 322px;
    height: 280px;
    font: Bold 32px/25px Roboto;
    margin: 0;
  }
}
.home > .showcase_corporate .second_container .box::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  width: 100%;
  height: 100%;
}
.home > .showcase_corporate .second_container .box1 {
  background: url(../assets/14.png) center/cover;
}
.home > .showcase_corporate .second_container .box2 {
  background: url(../assets/39.png) center/cover;
}
.home > .customer_recommand {
  margin-top: -330px;
  position: relative;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .customer_recommand {
    margin: 0 auto;
    margin-top: -370px;
    width: 672px;
  }
}
.home > .customer_recommand .title {
  margin-bottom: 60px;
  font: bold 48px/72px PingFang TC;
  color: white;
  text-align: center;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .customer_recommand .title {
    margin-bottom: 32px;
    font: 32px/48px PingFang TC;
  }
}
.home > .customer_recommand .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .customer_recommand .container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.home > .customer_recommand .customer {
  width: 282px;
  height: 440px;
  margin: 0 12px;
  border: 1px solid #dee2e6;
  box-sizing: border-box;
  padding: 0 16px 16px;
  background: white;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .customer_recommand .customer {
    margin: 0 0 24px 0;
    width: 324px;
  }
}
.home > .customer_recommand .customer .bg {
  width: 282px;
  height: 256px;
  margin: -1px 0 0 -17px;
  border: 0px solid #dee2e6;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .customer_recommand .customer .bg {
    width: 324px;
    object-fit: cover;
  }
}
.home > .customer_recommand .customer .name {
  font: bold 16px/21px Roboto;
  color: #212529;
}
.home > .customer_recommand .customer .said {
  margin-top: 16px;
  font: 16px/24px Roboto;
  color: #212529;
}
.home > .customer_recommand .customer .time {
  margin-top: 16px;
  font: 16px/21px Roboto;
  color: #707070;
}
.home > .contact {
  margin-top: 80px;
  height: 900px;
  background-color: #aa06010d;
  color: black;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .contact {
    margin-top: 16px;
    height: 767px;
  }
}
.home > .contact .title {
  font: 48px PingFang TC;
  padding-top: 64px;
  margin-bottom: 24px;
  text-align: center;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .contact .title {
    padding-top: 40px;
    font: bold 32px/48px PingFang TC;
  }
}
.home > .contact .container {
  width: 792px;
  margin: 0 auto;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .contact .container {
    width: 496px;
  }
}
.home > .contact .container .description {
  font-size: 20px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .contact .container .description {
    font-size: 16px;
  }
}
.home > .contact .container .input_title {
  margin-top: 16px;
}
.home > .contact .container input,
.home > .contact .container textarea {
  width: 100%;
  background: transparent;
  border: 1px solid gray;
  padding: 14px 16px;
}
.home > .contact .container input::placeholder,
.home > .contact .container textarea::placeholder {
  opacity: 0.2;
  font-size: 16px;
}
.home > .contact .container input[type=checkbox] {
  display: inline;
  width: 24px;
}
.home > .contact .container .btn {
  margin: 42px auto 0;
  display: block;
}
.home > .footer {
  background-color: #aa0601;
  color: white;
}
.home > .footer > .container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 48px 48px 40px;
}
.home > .footer .row {
  display: flex;
  align-items: center;
}
.home > .footer .a1 {
  margin-bottom: 16px;
}
.home > .footer .a1 a {
  color: white;
  text-decoration: none;
  font: 20px/30px PingFang TC;
  margin-right: 48px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .footer .a1 a {
    font: 14px PingFang TC;
  }
}
.home > .footer .a1 > img {
  margin-left: 32px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .footer .a1 > img {
    width: 24px;
  }
}
.home > .footer .a2,
.home > .footer .a3 {
  font-size: 36px;
  margin: 8px 0;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .footer .a2,
  .home > .footer .a3 {
    font-size: 20px;
  }
}
.home > .footer .a2 > img,
.home > .footer .a3 > img {
  height: 36px;
  margin-right: 16px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .footer .a2 > img,
  .home > .footer .a3 > img {
    width: 32px;
  }
}
.home > .footer .a4 {
  margin-top: 24px;
  padding: 24px 0;
  border-top: 1px solid white;
}
.home > .footer .a4 > img {
  margin-right: 38px;
}
@media all and (min-width: 601px) and (max-width: 960px) {
  .home > .footer .a4 > img {
    display: none;
  }
}
.home > .footer .a4 > .copyright {
  font: 16px/24px Roboto;
}
.home > .footer .a4 > a {
  color: white;
  text-decoration: none;
  font: 14px PingFang TC;
  margin-left: 62px;
}
.home .btn {
  width: 131px;
  height: 43px;
  margin: 8px;
  background: #aa0601 0% 0% no-repeat padding-box;
  color: #ffffff;
  font: 16px/24px PingFang TC;
}
