@mixin rwd($point) {
  @if $point==phone {
    @media all and (max-width: 600px) {
      @content
    }
  }

  @else if $point==pad {
    @media all and (min-width: 601px) and (max-width: 960px) {
      @content
    }
  }

  @else {
    @content
  }
}


html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.spacer {
  flex: 1;
}

.btn {
  width: 131px;
  height: 43px;
  margin: 8px;
  background: #aa0601 0% 0% no-repeat padding-box;
  color: #ffffff;
  font: 16px/24px PingFang TC;
}
.home {
  height: 100%;

  .nav {
    height: 108px;
    display: flex;
    align-items: center;
    background-color: #aa0601;

    @include rwd(phone) {
      height: 50px;
      justify-content: center;

      .spacer {
        display: none;
      }

      img {
        width: 48px;
      }
    }

    .nav {
      color: white;
      text-decoration: none;
      font: 20px/30px PingFang TC;
      margin: 0 32px;

      @include rwd(phone) {
        display: none;
      }
    }
  }
  &>.header{
    height: 304px;
    background-image: url("../assets/72.png");
    background-size: cover;
    background-position: 30%;
    @include rwd(phone){
      height: 143px;
    }
    .title{
      font: 64px/80px PingFang TC;
      display: flex;
      align-items: center;
      @include rwd(pad){
        width: 672px;
        font-size: 48px;
      }
      @include rwd(phone){
        font-size: 28px;
      }
      img{
        width: 58px;
        @include rwd(pad){
          width: 48px;
        }
        @include rwd(phone){
          width: 24px;
        }
      }


    }
    &>.container{
      height: 100%;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: start;
      align-items: flex-end;
      @include rwd(pad){
        width: 672px;
      }
      @include rwd(phone){
        width: 352px;
      }
    }
  }
  &>.main{
    &> .container{
      height: 100%;
      max-width: 1200px;
      margin: 88px auto 0 ;
      padding: 0 8px;
      @include rwd(pad){
        width: 672px;
        margin: 40px auto 0 ;
      }
      @include rwd(phone){
        width: 352px;
        margin: 24px auto 0 ;
      }
      &>.title{
        font: 32px/63px PingFang TC;
        @include rwd(pad){
          font-size: 28px;
        }
        @include rwd(phone){
          font-size: 20px;
        }
      }
      .questions{
        .q{
          cursor: pointer;
          height: 72px;
          padding: 0 32px;
          font: bold 20px/72px PingFang TC;
          border: 1px solid #000000;
          display: flex;
          justify-content: space-between;
          @include rwd(pad){
            font-size: 16px;
          }
          @include rwd(phone){
            font-size: 16px;
          }

        }
        .a{
          padding: 22px 38px;
          border: 1px solid #000000;
          display: none;
          background: #F2F2F2;
          font: 16px/24px PingFang TC;
          @include rwd(pad){
            font-size: 14px;
          }
          @include rwd(phone){
            font-size: 14px;
          }
        }
      }
    }
  }


  &>.footer {
    margin-top: 156px;
    background-color: #aa0601;
    color: white;

    &>.container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 36px 8px 0;

      @include rwd(pad){
        width: 672px;
        padding: 40px 0 40px;
      }
      @include rwd(phone) {
        max-width: 352px;
        padding: 24px 0  12px;
        position: relative;

        a {
          display: none;
        }
      }
    }

    .row {
      display: flex;
      align-items: center;
    }

    .a1 {
      a {
        color: white;
        text-decoration: none;
        font: 16px/30px PingFang TC;
        margin-right: 48px;

        @include rwd(pad) {
          font: 14px PingFang TC;
        }
      }

      &>img {
        margin-left: 32px;

        @include rwd(pad) {
          width: 24px;
        }
      }

      margin-bottom: 16px;
    }

    .a2,
    .a3 {
      font-size: 36px;

      @include rwd(pad) {
        font-size: 20px;
      }

      &>img {
        height: 36px;
        margin-right: 16px;

        @include rwd(pad) {
          width: 32px;
        }
      }

      // margin: 8px 0;
    }

    .a4 {
      margin-top: 24px;
      padding: 24px 0;
      border-top: 1px solid white;

      &>img {
        margin-right: 38px;

        @include rwd(pad) {
          display: none;
        }
      }

      &>.copyright {
        font: 16px/24px Roboto;
      }

      &>a {
        color: white;
        text-decoration: none;
        font: 14px PingFang TC;
        margin-left: 62px;

      }
    }

    // footer 行動版特別處理
    @include rwd(phone) {
      .a1 {
        img {
          width: 24px;
        }
      }

      .a2 {
        margin-top: -40px;
        font: 300 16px/30px Roboto;

        img {
          height: 13px;
          margin: 0;
          margin-right: 5px;
        }
      }

      .a3 {
        font: 300 16px/30px Roboto;

        img {
          height: 13px;
          margin-right: 5px;
        }

        margin: 0;
      }
      .a4{
        display: block;
        padding: 0;
        padding-top: 12px;
        .spacer{
          display: none;
        }
        a{
          display: block;
          margin: 0;
          margin-bottom: 8px;
          font: 300 14px/21px Roboto;
        }
        .copyright{
          display: block;
          font: 300 14px/21px Roboto;
          margin-bottom: 8px;
        }
        img{
          position: absolute;
          right:12px;
          bottom: 12px;
          width: 46px;
          margin: 0;
        }

      }
    }
  }


}